<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style/style.css">
  <title>Nepflix</title>
  <script>
    window.data = <%- JSON.stringify(data || null) %>;
  </script>
</head>
<body>

  <nav>
    <img src="style/logo.svg" alt="">
    <section>
      <input type="checkbox" for="search" tabindex="1">
      <input type="text" name="" value="" placeholder="What serie are you looking for?">
      <span></span>
      <label id="search">
       <img src="style/search.svg" alt="searchIcon">
      </label>
    </section>
  </nav>

  <% { let random = Math.floor(Math.random() * data.length) %>
      <section>
        <section class="textOverlay">
          <h2>New <span>&</span> Popular</h2>
          <h2><a href="/detail/<%=data[random].id%>" ><%=data[random].original_name%></a></h2>
        </section>
        <img src="https://image.tmdb.org/t/p/original/<%=data[random].backdrop_path%>" alt="">
      </section>
  <% } %>

  <main>
    <nav><a href="#">Popular</a><a href="#">Releases date</a></nav>

    <section class="popular">
      <% for(let i = 0; i < data.length; i++){ %>
        <input type="checkbox" id="serrie<%= i %>"  data-id="<%= i %>">
        <label data-id="<%= i %>" for="serrie<%= i %>">
          <img alt="<%= data[i].name%>"  src="https://image.tmdb.org/t/p/w342<%=data[i].poster_path %>" alt="Poster image <%= data[i].name%>">
          <h2><%= data[i].original_name %></h2>
          <h3>Vote average <%= data[i].vote_average %></h3>
        </label>
      <% } %>
      <section>
        <h2></h2>
        <img src="" alt="">
        <div class="details">
          <p class="overview"></p>
          <p class="vote"></p>
        </div>
      </section>
    </section>

    <section class="serieGrid search">
      <label data-bind="link" data-id="">
        <img data-bind="poster_path" alt=""  src="">
        <h2 data-bind="title"></h2>
        <h3 data-bind="vote"></h3>
      </label>
    </section>
  
  </main>
  <script src="js/transparency.min.js"></script>
  <script type="text/javascript" src="js/app.js" charset="utf-8"></script>
</body>
</html>
